<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Binary Id="WebAppCA" SourceFile="Inmeta.Wix.CustomActions.WebAppInstall.CA.dll" />
    <!-- Make sure the enumerate web sites and app pools custom action gets 
        called, but only called if we are doing and install. -->
    <CustomAction Id="EnumerateIISWebSitesAndAppPools"
                    BinaryKey="WebAppCA"
                    DllEntry="EnumerateIISWebSitesAndAppPools"
                    Execute="immediate"
                    Return="check" />

    <!-- The custom action to calculate the INSTALLDIR based on the selected
         web site's physical path. -->
    <CustomAction Id="SetInstallDirBasedOnSelectedWebSite"
                  BinaryKey="WebAppCA"
                  DllEntry="SetInstallDirBasedOnSelectedWebSite"
                  Execute="immediate"
                  Return="check" />

    <!-- The custom action that sets the APP_POOL_NAME property when the user
         want's to use the default for the web site. -->
    <CustomAction Id="SetAppPoolNameToWebSiteDefault"
                  BinaryKey="WebAppCA"
                  DllEntry="SetAppPoolNameToWebSiteDefault"
                  Execute="immediate"
                  Return="check" />
    
    <InstallUISequence>
      <Custom Action="EnumerateIISWebSitesAndAppPools"
              After="CostFinalize"
              Overridable="yes">NOT Installed</Custom>
    </InstallUISequence>
        
		<UI Id="WixUI_WebUI">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="InstallDir" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="DiskCostDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
      <DialogRef Id="WebAppInstallDlg"/>
      <DialogRef Id="InvalidWebAliasAliasDlg"/>

			<Publish Dialog="BrowseDlg" Control="OK" Event="DoAction"
               Value="WixUIValidatePath" Order="3">1</Publish>
			<Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog"
               Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog"
               Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog"
               Value="WebAppInstallDlg">NOT Installed</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog"
               Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="WebAppInstallDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <!-- Check to see the web app name has something in it. -->
      <Publish Dialog="WebAppInstallDlg" Control="Next" Event="SpawnDialog" Value="InvalidWebAliasAliasDlg" Order="1">0</Publish>      
      <!-- Set the APP_POOL_NAME to the web site's default if that's what the user wants.-->
      <Publish Dialog="WebAppInstallDlg" Control="Next" Event="DoAction" Value="SetInstallDirBasedOnSelectedWebSite" Order="2">1</Publish>
      <!-- Finally move to the VerifyReadyDlg if all values are looking good.-->
      <Publish Dialog="WebAppInstallDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="3">1</Publish>

      <!-- Changed InstallDirDlg back button to navigate to InstallationAddress -->
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog"
               Value="WebAppInstallDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath"
               Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction"
               Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog"
               Value="InvalidDirDlg" Order="3"
               ><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog"
               Value="VerifyReadyDlg" Order="4"
               >WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty"
               Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog"
               Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog"
               Value="WebAppInstallDlg" Order="1">NOT Installed</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog"
               Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
               Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceWelcomeDlg">1</Publish>

      

			<Property Id="ARPNOMODIFY" Value="1" />
		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>